In [1]:
from google.colab import files
upl = files.upload()

ModuleNotFoundError: No module named 'google.colab'

In [5]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 0.0/10.3 MB ? eta -:--:--
      --------------------------------------- 0.2/10.3 MB 10.2 MB/s eta 0:00:01
      --------------------------------------- 0.2/10.3 MB 4.0 MB/s eta 0:00:03
      --------------------------------------- 0.2/10.3 MB 2.1 MB/s eta 0:00:05
      --------------------------------------- 0.2/10.3 MB 1.7 MB/s eta 0:00:06
     - -------------------------------------- 0.4/10.3 MB 1.9 MB/s eta 0:00:06
     - -------------------------------------- 0.4/10.3 MB 1.7 MB/s eta 0:00:06
     -- ------------------------------------- 0.5/10.3 MB 1.7 MB/s eta 0:00:06
     -- ------------------------------------- 0.6/10.3 MB 1.7 MB/s eta 0:00:06
     -- ------------------------------------- 0.6/10.3 MB 1.6 MB/s eta 0:00:07
     -- ------------------------------------- 0.7/10.3 MB 1.6 MB/s eta 0:00:07
     -- ------------------------------------- 0.7/10.3 MB 1.5 MB/s eta 0:00:07
     -- ------------------------------------- 0.8/10.3 MB 1.5 MB/s eta 0:00:07
     --- ------------------------------------ 0.9/10.3 MB 1.4 MB/s eta 0:00:07
     --- ------------------------------------ 0.9/10.3 MB 1.4 MB/s eta 0:00:07
     --- ------------------------------------ 1.0/10.3 MB 1.4 MB/s eta 0:00:07
     ---- ----------------------------------- 1.0/10.3 MB 1.4 MB/s eta 0:00:07
     ---- ----------------------------------- 1.1/10.3 MB 1.4 MB/s eta 0:00:07
     ---- ----------------------------------- 1.1/10.3 MB 1.4 MB/s eta 0:00:07
     ---- ----------------------------------- 1.1/10.3 MB 1.3 MB/s eta 0:00:08
     ---- ----------------------------------- 1.2/10.3 MB 1.3 MB/s eta 0:00:08
     ---- ----------------------------------- 1.3/10.3 MB 1.3 MB/s eta 0:00:08
     ----- ---------------------------------- 1.3/10.3 MB 1.3 MB/s eta 0:00:07
     ----- ---------------------------------- 1.4/10.3 MB 1.3 MB/s eta 0:00:07
     ----- ---------------------------------- 1.5/10.3 MB 1.3 MB/s eta 0:00:07
     ------ --------------------------------- 1.5/10.3 MB 1.3 MB/s eta 0:00:07
     ------ --------------------------------- 1.6/10.3 MB 1.3 MB/s eta 0:00:07
     ------ --------------------------------- 1.7/10.3 MB 1.3 MB/s eta 0:00:07
     ------ --------------------------------- 1.7/10.3 MB 1.4 MB/s eta 0:00:07
     ------ --------------------------------- 1.8/10.3 MB 1.3 MB/s eta 0:00:07
     ------- -------------------------------- 1.8/10.3 MB 1.3 MB/s eta 0:00:07
     ------- -------------------------------- 1.9/10.3 MB 1.3 MB/s eta 0:00:07
     ------- -------------------------------- 2.0/10.3 MB 1.3 MB/s eta 0:00:07
     ------- -------------------------------- 2.0/10.3 MB 1.3 MB/s eta 0:00:07
     -------- ------------------------------- 2.1/10.3 MB 1.3 MB/s eta 0:00:07
     -------- ------------------------------- 2.1/10.3 MB 1.3 MB/s eta 0:00:07
     -------- ------------------------------- 2.2/10.3 MB 1.3 MB/s eta 0:00:07
     -------- ------------------------------- 2.3/10.3 MB 1.3 MB/s eta 0:00:07
     --------- ------------------------------ 2.3/10.3 MB 1.3 MB/s eta 0:00:07
     --------- ------------------------------ 2.4/10.3 MB 1.3 MB/s eta 0:00:07
     --------- ------------------------------ 2.5/10.3 MB 1.3 MB/s eta 0:00:06
     --------- ------------------------------ 2.5/10.3 MB 1.3 MB/s eta 0:00:06
     --------- ------------------------------ 2.6/10.3 MB 1.3 MB/s eta 0:00:06
     ---------- ----------------------------- 2.6/10.3 MB 1.3 MB/s eta 0:00:06
     ---------- ----------------------------- 2.7/10.3 MB 1.3 MB/s eta 0:00:06
     ---------- ----------------------------- 2.7/10.3 MB 1.3 MB/s eta 0:00:06
     ---------- ----------------------------- 2.8/10.3 MB 1.3 MB/s eta 0:00:06
     ---------- ----------------------------- 2.8/10.3 MB 1.3 MB/s eta 0:00:06
     ----------- ---------------------------- 2.9/10.3 MB 1.3 MB/s eta 0:00:06
     ----------- ---------------------------- 3.0/10.3 MB 1.3 MB/s eta 0:00:06
     ----------- ---------------------------- 3.0/10.3 MB 1.3 MB/s eta 0:00:06
     ------------ --------------------------- 3.1/10.3 MB 1.3 MB/s eta 0:00:06
     ------------ --------------------------- 3.2/10.3 MB 1.3 MB/s eta 0:00:06
     ------------ --------------------------- 3.2/10.3 MB 1.3 MB/s eta 0:00:06
     ------------ --------------------------- 3.3/10.3 MB 1.3 MB/s eta 0:00:06
     ------------- -------------------------- 3.4/10.3 MB 1.3 MB/s eta 0:00:06
     ------------- -------------------------- 3.4/10.3 MB 1.3 MB/s eta 0:00:06
     ------------- -------------------------- 3.5/10.3 MB 1.3 MB/s eta 0:00:06
     ------------- -------------------------- 3.5/10.3 MB 1.3 MB/s eta 0:00:06
     ------------- -------------------------- 3.6/10.3 MB 1.3 MB/s eta 0:00:06
     -------------- ------------------------- 3.6/10.3 MB 1.3 MB/s eta 0:00:06
     -------------- ------------------------- 3.7/10.3 MB 1.3 MB/s eta 0:00:06
     -------------- ------------------------- 3.8/10.3 MB 1.3 MB/s eta 0:00:06
     -------------- ------------------------- 3.8/10.3 MB 1.3 MB/s eta 0:00:06
     --------------- ------------------------ 3.9/10.3 MB 1.3 MB/s eta 0:00:05
     --------------- ------------------------ 3.9/10.3 MB 1.3 MB/s eta 0:00:05
     --------------- ------------------------ 4.0/10.3 MB 1.3 MB/s eta 0:00:05
     --------------- ------------------------ 4.1/10.3 MB 1.3 MB/s eta 0:00:05
     --------------- ------------------------ 4.1/10.3 MB 1.3 MB/s eta 0:00:05
     ---------------- ----------------------- 4.2/10.3 MB 1.3 MB/s eta 0:00:05
     ---------------- ----------------------- 4.2/10.3 MB 1.3 MB/s eta 0:00:05
     ---------------- ----------------------- 4.3/10.3 MB 1.3 MB/s eta 0:00:05
     ---------------- ----------------------- 4.3/10.3 MB 1.3 MB/s eta 0:00:05
     ----------------- ---------------------- 4.4/10.3 MB 1.3 MB/s eta 0:00:05
     ----------------- ---------------------- 4.5/10.3 MB 1.3 MB/s eta 0:00:05
     ----------------- ---------------------- 4.5/10.3 MB 1.3 MB/s eta 0:00:05
     ----------------- ---------------------- 4.6/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------ --------------------- 4.6/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------ --------------------- 4.7/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------ --------------------- 4.8/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------ --------------------- 4.8/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------ --------------------- 4.9/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------- -------------------- 4.9/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------- -------------------- 5.0/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------- -------------------- 5.1/10.3 MB 1.3 MB/s eta 0:00:05
     ------------------- -------------------- 5.1/10.3 MB 1.3 MB/s eta 0:00:05
     -------------------- ------------------- 5.2/10.3 MB 1.3 MB/s eta 0:00:05
     -------------------- ------------------- 5.2/10.3 MB 1.3 MB/s eta 0:00:04
     -------------------- ------------------- 5.3/10.3 MB 1.3 MB/s eta 0:00:04
     -------------------- ------------------- 5.4/10.3 MB 1.3 MB/s eta 0:00:04
     --------------------- ------------------ 5.4/10.3 MB 1.3 MB/s eta 0:00:04
     --------------------- ------------------ 5.5/10.3 MB 1.3 MB/s eta 0:00:04
     --------------------- ------------------ 5.5/10.3 MB 1.3 MB/s eta 0:00:04
     --------------------- ------------------ 5.6/10.3 MB 1.3 MB/s eta 0:00:04
     --------------------- ------------------ 5.6/10.3 MB 1.3 MB/s eta 0:00:04
     ---------------------- ----------------- 5.7/10.3 MB 1.3 MB/s eta 0:00:04
     ---------------------- ----------------- 5.8/10.3 MB 1.3 MB/s eta 0:00:04
     ---------------------- ----------------- 5.8/10.3 MB 1.3 MB/s eta 0:00:04
     ---------------------- ----------------- 5.9/10.3 MB 1.3 MB/s eta 0:00:04
     ----------------------- ---------------- 5.9/10.3 MB 1.3 MB/s eta 0:00:04
     ----------------------- ---------------- 6.0/10.3 MB 1.3 MB/s eta 0:00:04
     ----------------------- ---------------- 6.1/10.3 MB 1.3 MB/s eta 0:00:04
     ----------------------- ---------------- 6.1/10.3 MB 1.3 MB/s eta 0:00:04
     ------------------------ --------------- 6.2/10.3 MB 1.3 MB/s eta 0:00:04
     ------------------------ --------------- 6.2/10.3 MB 1.3 MB/s eta 0:00:04
     ------------------------ --------------- 6.3/10.3 MB 1.3 MB/s eta 0:00:04
     ------------------------ --------------- 6.4/10.3 MB 1.3 MB/s eta 0:00:04
     ------------------------ --------------- 6.4/10.3 MB 1.3 MB/s eta 0:00:04
     ------------------------- -------------- 6.5/10.3 MB 1.3 MB/s eta 0:00:03
     ------------------------- -------------- 6.5/10.3 MB 1.3 MB/s eta 0:00:03
     ------------------------- -------------- 6.6/10.3 MB 1.3 MB/s eta 0:00:03
     ------------------------- -------------- 6.7/10.3 MB 1.3 MB/s eta 0:00:03
     -------------------------- ------------- 6.7/10.3 MB 1.3 MB/s eta 0:00:03
     -------------------------- ------------- 6.8/10.3 MB 1.3 MB/s eta 0:00:03
     -------------------------- ------------- 6.8/10.3 MB 1.3 MB/s eta 0:00:03
     -------------------------- ------------- 6.9/10.3 MB 1.3 MB/s eta 0:00:03
     -------------------------- ------------- 6.9/10.3 MB 1.3 MB/s eta 0:00:03
     --------------------------- ------------ 7.0/10.3 MB 1.3 MB/s eta 0:00:03
     --------------------------- ------------ 7.0/10.3 MB 1.3 MB/s eta 0:00:03
     --------------------------- ------------ 7.1/10.3 MB 1.3 MB/s eta 0:00:03
     --------------------------- ------------ 7.2/10.3 MB 1.3 MB/s eta 0:00:03
     ---------------------------- ----------- 7.2/10.3 MB 1.3 MB/s eta 0:00:03
     ---------------------------- ----------- 7.3/10.3 MB 1.3 MB/s eta 0:00:03
     ---------------------------- ----------- 7.4/10.3 MB 1.3 MB/s eta 0:00:03
     ---------------------------- ----------- 7.4/10.3 MB 1.3 MB/s eta 0:00:03
     ---------------------------- ----------- 7.5/10.3 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 7.5/10.3 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 7.6/10.3 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 7.6/10.3 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 7.7/10.3 MB 1.3 MB/s eta 0:00:03
     ------------------------------ --------- 7.8/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------ --------- 7.8/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------ --------- 7.9/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------ --------- 7.9/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------- -------- 8.0/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------- -------- 8.1/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------- -------- 8.1/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------- -------- 8.2/10.3 MB 1.3 MB/s eta 0:00:02
     ------------------------------- -------- 8.2/10.3 MB 1.3 MB/s eta 0:00:02
     -------------------------------- ------- 8.3/10.3 MB 1.3 MB/s eta 0:00:02
     -------------------------------- ------- 8.4/10.3 MB 1.3 MB/s eta 0:00:02
     -------------------------------- ------- 8.4/10.3 MB 1.3 MB/s eta 0:00:02
     -------------------------------- ------- 8.5/10.3 MB 1.3 MB/s eta 0:00:02
     --------------------------------- ------ 8.5/10.3 MB 1.3 MB/s eta 0:00:02
     --------------------------------- ------ 8.6/10.3 MB 1.3 MB/s eta 0:00:02
     --------------------------------- ------ 8.6/10.3 MB 1.3 MB/s eta 0:00:02
     --------------------------------- ------ 8.7/10.3 MB 1.3 MB/s eta 0:00:02
     ---------------------------------- ----- 8.8/10.3 MB 1.3 MB/s eta 0:00:02
     ---------------------------------- ----- 8.8/10.3 MB 1.3 MB/s eta 0:00:02
     ---------------------------------- ----- 8.9/10.3 MB 1.3 MB/s eta 0:00:02
     ---------------------------------- ----- 8.9/10.3 MB 1.3 MB/s eta 0:00:02
     ---------------------------------- ----- 9.0/10.3 MB 1.3 MB/s eta 0:00:02
     ----------------------------------- ---- 9.0/10.3 MB 1.3 MB/s eta 0:00:02
     ----------------------------------- ---- 9.1/10.3 MB 1.3 MB/s eta 0:00:01
     ----------------------------------- ---- 9.2/10.3 MB 1.3 MB/s eta 0:00:01
     ----------------------------------- ---- 9.2/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------ --- 9.3/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------ --- 9.4/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------ --- 9.4/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------ --- 9.5/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 9.5/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 9.6/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 9.7/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 9.7/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 9.7/10.3 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 9.8/10.3 MB 1.3 MB/s eta 0:00:01
     -------------------------------------- - 9.9/10.3 MB 1.3 MB/s eta 0:00:01
     -------------------------------------- - 9.9/10.3 MB 1.3 MB/s eta 0:00:01
     -------------------------------------- - 10.0/10.3 MB 1.3 MB/s eta 0:00:01
     -------------------------------------- - 10.0/10.3 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------  10.1/10.3 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------  10.1/10.3 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------  10.2/10.3 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------  10.3/10.3 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------  10.3/10.3 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 10.3/10.3 MB 1.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.2-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.1 kB ? eta -:--:--
     ----- --------------------------------- 71.7/502.1 kB 1.9 MB/s eta 0:00:01
     ---------- --------------------------- 143.4/502.1 kB 1.7 MB/s eta 0:00:01
     ----------- -------------------------- 153.6/502.1 kB 1.1 MB/s eta 0:00:01
     -------------- ----------------------- 194.6/502.1 kB 1.3 MB/s eta 0:00:01
     -------------- ----------------------- 194.6/502.1 kB 1.3 MB/s eta 0:00:01
     ------------------------- ------------ 337.9/502.1 kB 1.2 MB/s eta 0:00:01
     ----------------------------- -------- 389.1/502.1 kB 1.3 MB/s eta 0:00:01
     ------------------------------- ------ 419.8/502.1 kB 1.2 MB/s eta 0:00:01
     ---------------------------------- --- 450.6/502.1 kB 1.2 MB/s eta 0:00:01
     -------------------------------------- 502.1/502.1 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\hardi\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2023.2

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_excel("Transaction.xlsx")

In [ ]:
df['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [ ]:
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [ ]:
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
add = pd.read_excel("CustomerAddress.xlsx")

In [ ]:
add.tail()

,customer_id,address,postcode,state,country,property_valuation
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [ ]:
add.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [ ]:
add.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [ ]:
add.duplicated().sum()

0

In [ ]:
dem = pd.read_excel("CustomerDemographic.xlsx")

<ipython-input-18-7817f9a83fbd>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  dem = pd.read_excel("CustomerDemographic.xlsx")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [ ]:
dem.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [ ]:
dem['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [ ]:
dem['owns_car'].value_counts()

Yes    2024
No     1976
Name: owns_car, dtype: int64

In [ ]:
dem['job_title'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [ ]:
dem.duplicated().sum()

0

In [ ]:
dem.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [ ]:
dem['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64